<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">LEARN TO TRAVEL</h1>
    <p class="lead">This is an e-learning website,you can learn about the capital of countries and languages,.</p>
    <hr class="my-4">
    <p>If you get interested,sign up right now!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Signup</a>
  </div>
</div>