
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 font-weight-normal">LEARN TO TRAVEL</h1>
            <p class="lead font-weight-normal">This is an e-learning website,you can learn about the capital of countries and languages.</p>
            <hr class="my-4">
            <p class="lead font-weight-normal">If you get interested,sign up right now!</p>
            <%= link_to "Sign up!",signup_path,class: "btn btn-primary btn-lg" %>
        </div>
    </div>

