<h1 class="text-center mb-3">Users</h1>

<div class="paginate text-center">
	<%= will_paginate @users %>
</div>

<div class="container">
<div class="row">
	<% @users.each do |user| %>
    <div class="col-6">
    	<div class="media mb-3">
        <%=gravatar_for(user) %>
        	<div class="media-body">
        		<h5 class="pl-2 font-weight-bold"><%= link_to user.name,user %></h5>
          
          		<% if current_user.admin? %>
            		<%= link_to "Delete", user_path(user),method: :delete,
                                  class:"btn btn-outline-danger btn-sm float-right", 
                                  data: { confirm: "Are you sure?"} %>
          		<% end %>
          
        	</div>
      	</div>
    </div>
  	<% end %>
  </div>
</div>