/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */


 @import "bootstrap";

 body{
   height: 100%;
 }




.background-image{
  min-height: 100vh;
  background: url(/assets/1.jpg) no-repeat center center fixed;
  background-size: cover;
}
.jumbotron{
  background-color: transparent;
}

 
 .jumbotron h1{
   font: weight 100;
 }

 .media-body {
   background-color:rgb(234, 253, 190);
 }

 .microbody{
   background-color:rgb(234,253,190);
   
 }

 .paginate {
  nav {
    display:inline-block;
  }
}

.delete_back{
  background-color:transparent;
 
}

.font-weight-bold a {
  color:black;
  background-color:rgb(194, 223, 240);
}

.adminent{
  margin:50px;
}

.adminentcard{
  margin:auto;
  
}

.adminent p{
  font-weight: 650;
  font-size: large;
}



.new_cate_bt{
  margin-bottom:40px;
}

.catecard{
  margin:auto;
}

.caterow{
  margin-top:60px;
 
  
}

.ans_choice{
  margin:5px;
}

.backbtn{
  margin-top:10px;
}

.act_h{
  height:450px;
}