<h1 class="text-center mb-3">Administration</h1>

<div class="container">
	
	<div class="card col-6 bg-info adminentcard">
		<div class="row adminent">
			<div class="col-12 text-center">
				<%= link_to "Categories",admin_categories_path,class: "btn btn-dark btn-lg w-50" %>
				<p align="left">The categories,descriptions,words,answers and choices.</p>
			</div>
		</div>
		
		<div class="row adminent">
			<div class="col-12 text-center">
				<%= link_to "Users",admin_users_path,class: "btn btn-dark btn-lg w-50" %>
				<p align="left">You can add or remove the administration to users.</p>
			</div>
		</div>
		
	</div>
	
	
</div>
<div class="text-center"><%= link_to "back",user_path(current_user),class: "btn btn-dark btn-sm backbtn" %></div>